:root {
  --light-color: #ffffff;
  --light-off-color: #85c9da;
  --darkest-color: #320E3B;
  --mid-color: #ceade2;
  --mid-off-color: #a04ec0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
  color: var(--darkest-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  margin-top: 0;
  background-color: var(--mid-off-color);
  color: var(--light-off-color);
  padding: 2vh 2vw;
}

h1 {
  margin: 0;
  color: var(--mid-color)
}

header > p {
  color: var(--light-off-color);
  
}

#page-header {
  display: flex;
  justify-content: center;
}

#selector {
  position: absolute;
  z-index: 3;
  right: max(5vw, 30px);
  top: 30px;
  background-color: var(--mid-color);
  border-radius: 50px;
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
}

.selector-modal {
  /* display: none; */
  position: fixed;
  vertical-align: middle;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(50, 14, 59, .8);
}

.modal-content {
  display: flex;
  z-index: 2;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
}

.card {
  background-color: var(--light-off-color);
  padding: 2vh 2vw;
  margin: 0 2vw 2vh 2vw;
  border-radius: 15px 15px 15px 15px;
  height: 60vh;
  overflow: scroll;
  text-align: left;
}


.nav-tabs {
  display: flex;
  margin: 0 15vw;
  justify-content: space-around;

}
.nav {
  margin-bottom: 0;
  background-color: var(--mid-color);
  width: 15vw;
  padding: 1vh 1vw;
  border-radius: 15px 15px 0 0;
  font-size: 1.25em;
  cursor: pointer;
}

.active {
  background-color: var(--light-off-color);
}
.story-container {
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ingredient, .step {
  padding: 10px 20px;
}

.picture-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.picture {
  border-radius: 15px;
  height: 40vh;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.ingredient-list, .step-list, .image-list {
  display: flex;
  width: 50vw;
  justify-content: center;
  gap: 2vw;
  font-variant-numeric: tabular-nums;
  
}

footer {
  margin-bottom: 1vh;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .nav {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {

  header {
    padding: 0;
  }

  .nav-tabs {
    
    margin: 0 5vw;
    justify-content: space-around;
  }
  .nav {
    font-size: .9em;
    width: 20vw;
  }
}